<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PixelStore_AN"
        tools:targetApi="31">

        <!-- 🔹 Splash: pantalla inicial -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🔹 Bienvenida -->
        <activity android:name=".activities.WelcomeActivity" />

        <!-- 🔹 Login -->
        <activity android:name=".activities.LoginActivity" />

        <!-- 🔹 Registro -->
        <activity android:name=".activities.RegisterActivity" />

        <!-- 🔹 Catalogo -->
        <activity android:name=".activities.CatalogActivity" />

        <!-- 🔹 Detalle de producto -->
        <activity android:name=".activities.ProductDetailActivity"/>

        <!-- 🔹 Detalle de producto -->
        <activity android:name=".activities.ProfileActivity"/>




    </application>

</manifest>
